@using TesteClient.Models.Commands;
@model Order;

@{
    ViewData["Title"] = "Résumé de vos commandes";
    decimal totalPrice = 0;
    @foreach (var item in Model.orderItems)
    {
        totalPrice += item.price;
    }
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Résumé de vos commandes</h2>
        </div>
        <form asp-controller="Command" asp-action="CompleteOrder" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                    <th>Quantité</th>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Sous Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.orderItems)
                {
                    <tr>
                        <td class="align-middle">@item.qty</td>
                        <td class="align-middle">@item.product.name</td>
                        <td class="align-middle">@item.product.price.ToString() + euros</td>
                        <td class="align-middle">@item.price.ToString("c")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td name="@totalPrice">
                        @totalPrice.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <div class="btn-group">
    @*<form asp-controller="Command" asp-action="CompleteOrder" enctype="multipart/form-data">*@
        <div>
            <p>Sélectionner l'adresse à laquelle vous voulez être livré:</p>
                        @*<label asp-for="addressId" class="control-label"></label>*@
                <select asp-for="addressId" class="form-control" asp-items="ViewBag.userAdressesId"></select>
        </div>
        <button type="submit" class="btn btn-outline-primary" asp-controller="Command" asp-action="CompleteOrder">
            Enregistrer la commande
        </button>
     </form>
</div>
            @*<partial name="_OrderAddress"/>
            @Html.Partial("_OrderAddress", model: Model.address)*@
        </div>
    </div>
</div>
